/node_modules
/ingest
*.log
.DS_Store
.env
/.cache
/public/build
/build
/test-results/
/playwright-report/
/playwright/.cache/
/tests/fixtures/email/
/coverage
.git
.gitignore
.dockerignore
Dockerfile
.gitpod.yml
.gitpod.Dockerfile
prisma/data.db
/ingest
.github
.vscode
.react-email